/* responsive css dor nav menu */
@media only screen and (min-width:993px){
    .circle .play-btn{
        display: none;
    }
}
@media only screen and (min-width:577px) and (max-width: 992px) {
    .contact-section-container{
        flex-direction: column;
    }
    .nav-btn-container button {
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: 600;
    }
    .nav-btn-container{
        width: 60%;
    }

    .banner-btn button {
        width: fit-content;
        padding: 16px 30px;
        font-size: .8rem;
        font-weight: 600;
    }
    .circle .play-btn{
        display: none;
    }
   
    .habits-card-container{

        grid-template-columns: repeat(2, 1fr);
    }
    .run-section-container .run-text {
        width: 50%;
        margin-right: 10%;
    }

    .run-section-container .run-text button {
        width: 200px;
    
    }


    /* BMI section responsive code */

    .bmi-form-container{
        flex-direction: column;
    }
    .bmi-section-container .bmi-text{
        width: 93%;
    }
    .bmi-form-container .bmi-chart{
        width: 100%;
        align-items: left;
    }
    .bmi-form-container .bmi-chart h2{
        text-align: left;
    }
    
    .bmi-form-container .bmi-chart table{
        margin: 0 ;        
    }
    .bmi-form-container .bmi-form{
        width: 100%;
        margin-left: 2.5%;
    }

    /* Success section */
    .success-peoples .people {
        width: 100%;
        height: 300px;
        position: relative;
    }
    .success-peoples .people .people-text {
        top: 70%;
    }

    .plan-cards {
        grid-template-columns: repeat(2, 1fr);
    }
   
    /* Contact Section  */
    .contact-section-container .service-container{
        width: 80%;
        margin-left: 10%;
        
    }

    .contact-section-container .fitness-text {
        width: 80%;
        margin-bottom: 15px;
    }
    .team-members .member .member-img img{
        border-radius: 10px;
     
    }
    .team-members .member .member-text{
        position: absolute;
        top: 70%;
        left: 10%;
    }
    .team-members .member .member-text h3{
        font-size: 1.25rem;
        font-weight: 600;
    }

    

}




@media only screen and (max-width: 576px) {
    .nav-btn-container {
        display: none;
    }

    .nav-container .ham-menubar {
        display: flex;
    }

    /* Banner section */
    .banner-container {
        flex-direction: column;
    }

    .banner-container .banner-text-container {
        width: 100%;
        align-items: center;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-text-container {
        width: 100%;
    }
    .banner-text h1{
        font-size: 2.5rem;
        font-weight: 800;
    }

    .banner-text #shape-style{
        font-size: 3.5rem;
                                                    
    }
    .banner-btn button {
        width: fit-content;
        padding: 15px 25px;
        font-size: 1rem;
        font-weight: 500;
    }
    .banner-img-container {
        width: 100%;
    }

    .workout {
        top: 10%;
        left: 58%;
    }

    .tutorial {
        top: 42%;
        left: 10%;
    }

    .habits-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .habit-secion-container .habit-text-container {
        width: 90%;
    }

    .habit-secion-container .habit-text-container h2 {
        font-size: 2rem;
    }
    .habits-card-container .card .card-img {
        width: 80%;
        margin: 0 auto;
    }

    .run-section-container {
        flex-direction: column;
    }

    .run-section-container .run-text {
        width: 100%;
        margin-bottom: 15px;
    }

    .run-section-container .run-img {
        width: 100%;
    }

    .run-section-container .run-img img {
        width: 100%;
        scale: 1.5;
        transform-origin: 70% 38%;
    }


    /* BMI section responsive code */

    .bmi-form-container{
        flex-direction: column;
    }
    .bmi-section-container .bmi-text{
        width: 90%;
    }
    .bmi-form-container .bmi-chart{
        width: 100%;
        align-items: left;
    }
    .bmi-form-container .bmi-chart h2{
        text-align: left;
    }
    
    .bmi-form-container .bmi-chart table{
        margin: 0 ;        
    }
    .bmi-form-container .bmi-form{
        width: 100%;
        margin-left: 2.5%;
    }

    .bmi-input button {
        width: 200px;
    }

    /* Team Members section responsive css */
    .team-members{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .team-section-container .team-text {
        width: 100%;
    }
    .team-section-container .team-text h2 {
        font-size: 2rem;
        font-weight: 600;

    }
    /* Succes section code */
    .success-peoples {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    /* Plan section code */
    .plan-text {
        width: 100%;
    }
    .plan-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Contact Section code */
    .contact-section-container {
        flex-direction: column;
    }


    .contact-section-container .fitness-text {
        width: 80%;
        margin-bottom: 15px;
    }
    .contact-section-container .fitness-text h2{
        font-size: 2rem;
    }

    .contact-section-container .service-container h2 {
        font-size: 1.5rem;
    }

    .service-container {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .service-container .get-started {
        margin-bottom: 15px;
    }
}