/* responsive css dor nav menu */

@media only screen and (min-width:577px) and (max-width: 768px) {
    .nav-btn-container {
        display: none;
    }

}
@media only screen and (min-width:769px) and  (max-width: 1440px) {

}



@media only screen and (max-width: 576px) {
    .nav-btn-container {
        display: none;
    }

    .nav-container .ham-menubar {
        display: flex;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-container .banner-text-container {
        width: 100%;
        align-items: center;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-text-container {
        width: 100%;
    }

    .banner-img-container {
        width: 100%;
    }

    .workout {
        top: 10%;
        left: 58%;
    }

    .tutorial {
        top: 42%;
        left: 10%;
    }

    .habits-card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .habit-secion-container .habit-text-container{
        width: 90%;
    }
    .habit-secion-container .habit-text-container h2{
        font-size: 2rem;
    }    

    .run-section-container{
        flex-direction: column;
    }

    .run-section-container .run-text{
        width: 100%;
        margin-bottom: 15px;
    }   
    .run-section-container .run-img{
        width: 100%;
    } 
    .run-section-container .run-img img{
        width: 100%;
    }
}


