/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

body {
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    background: #111111;
    color: white;
}

/* Clear browser auto margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar section styles */

.nav-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}

.site-name {
    width: 50%;
}

.site-name h2 {
    font-family: Inter;
    font-size: 2.25rem;
    font-weight: 800;
    color: #E6533C;
}

.nav-btn-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.433);
    border-radius: 20px;
}

.nav-btn-container button {
    border: none;
    padding: 11px 25px;
    border-radius: 18px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color: #111111;
}

.nav-btn-container button:hover {
    background-color: #E6533C;
    color: white;
}

.nav-container .ham-menubar {
    width: 50%;
    display: none;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin-right: 20px;
}

.colorful {
    background-color: #E6533C;
}

/* Banner style css */
.banner-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.banner-text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-img-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner-img-container {
    position: relative;
}

.banner-text h1 {
    font-size: 5rem;
    font-weight: 800;
    line-height: 1;
}

.banner-text p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.banner-text #shape-style {
    font-weight: 400;
    font-family: 'Miama', sans-serif;
    font-size: 7rem;
}

.banner-text p {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
}

.banner-btn button {
    width: fit-content;
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid white;
    color: white;
    background-color: #242424;
}

.colorful {
    background-color: #E6533C !important;
}

.workout {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    position: absolute;
    top: 22%;
    left: 58%;
    padding: 24px 16px;
}

.tutorial {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    position: absolute;
    top: 80%;
    left: 10%;
    padding: 24px 16px;
    display: flex;
    gap: 10px;
}

.tutorial-text,
.tutorial-text p,
h2 {
    background: none;
}

.tutorial .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E6533C;
}

.circle .play-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #E6533C;
}

/* Habit section styles */
.habit-secion-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.habit-secion-container .habit-text-container {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.habit-secion-container .habit-text-container h2 {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}

.habit-secion-container .habit-text-container p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.habits-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.habits-card-container .card .card-img img {
    width: 80%;
    border: 2px solid gray;
    border-radius: 50%;
    margin-left: 10%;
}

.habits-card-container .card .card-text {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habits-card-container .card .card-text h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.habits-card-container .card .card-text p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;

}

/* Run section styles */
.run-section-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.run-section-container .run-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 34px;
    margin-left: 2.5%;
    margin-right: 20%;
}

.run-section-container .run-text h2 {
    font-size: 3rem;
    font-weight: 900;
}

.run-section-container .run-text p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.run-section-container .run-text button {
    width: 40%;
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid white;
    background-color: #E6533C;

}

.run-section-container .run-img {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 18px;

}

.run-section-container .run-img img {
    width: 80%;
    scale: 2.75;
    transform-origin: 70% 38%;
}

/* BMI section styles */

.bmi-section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.bmi-section-container .bmi-text {
    width: 65%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bmi-section-container .bmi-text h2 {
    font-size: 3rem;
    font-weight: 900;

}

.bmi-section-container .bmi-text p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.bmi-form-container {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.bmi-form-container .bmi-chart {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.bmi-form-container .bmi-chart h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.75rem;
    font-weight: 900;
}

.bmi-form-container .bmi-chart table {
    margin: 0 auto;
    border-collapse: collapse;

}

.bmi-form-container .bmi-chart table th,
td {
    font-size: 1.25rem;
    font-weight: 600;
    border: 2px solid #b49691;
    padding: 10px;

}

.bmi-form-container .bmi-chart td {
    font-size: 0.8rem;
    font-weight: 400;
}

.bmi-form-container .bmi-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.bmi-form-container .bmi-form h2 {
    margin-bottom: 20px;
    font-size: 1.75rem;
    font-weight: 900;
}

.bmi-form-container .bmi-form p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8rem;
}

#height,
#weight,
#age,
#sex {
    width: 48%;
    margin-bottom: 1%;
    padding: 2%;
    padding-left: 4%;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
}

#sex {
    color: rgba(255, 255, 255, 0.4);
}

#activity {
    width: 97%;
    margin-bottom: 1%;
    padding: 2%;
    padding-left: 3%;
    border-radius: 10px;
    border: none;
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
}

.bmi-input button {
    width: 40%;
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid white;
    background-color: #E6533C;
}



/* Team section styles */

.team-section-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 20px;
}

.team-section-container .team-text {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.team-section-container .team-text h2 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

.team-section-container .team-text p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.team-members {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

.team-members .member {
    width: 100%;
    height: 99%;
    position: relative;
}

.team-members .member .member-img {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(to bottom right, rgba(10, 10, 50, 0.5), rgba(0, 0, 0, 0.5));
}

.team-members .member .member-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;

}

.team-members .member .member-text {
    position: absolute;
    top: 80%;
    left: 10%;
}

.team-members .member .member-text h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

.team-members .member .member-text p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

/* Our success section style */


.success-section-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 20px;
}

.success-section-container .success-text {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.success-section-container .success-text h2 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

.success-section-container .success-text p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.success-peoples {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

.success-peoples .people {
    width: 100%;
    height: 350px;
    position: relative;
}

.success-peoples .people .people-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.success-peoples .people .people-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;

}

.success-peoples .people .people-text {
    position: absolute;
    top: 80%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    width: fit-content
}

.success-peoples .people .people-text h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

.ssuccess-peoples .people .people-text p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.plan-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 20px;
}

.plan-text {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.plan-container .plan-text p {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.plan-container .plan-text h2 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: #E6533C;
}

.plan-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.plan-cards .card {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 2px 2px 10px rgba(255, 250, 0, 0.5);
}

.plan-cards .card:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.plan-cards .card .card-text {
    text-align: center;
}

.plan-cards .card .card-text h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.plan-cards .card .card-text p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

.plan-cards .card .card-text h2 {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 10px;
    color: #E6533C;
}

.plan-cards .card .card-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.plan-cards .card .card-text button {
    width: 80%;
    padding: 10px 20px;
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid white;
    background-color: #E6533C;
    color: white;
    margin-bottom: 10px;

}

/* Contact section styles */
.contact-section-container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    border-radius: 10px 10px 0 0;

}

.service-container {
    width: 50%;
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
}

.service-container .get-started {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.service-container .get-started h2 {
    font-size: 2rem;
    font-weight: 700;
}

.service-container .get-started a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
}

.fitness-text {
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.fitness-text h2 {
    font-size: 4.25rem;
    font-weight: 900;
    color: #E6533C;
}

.fitness-text p {
    font-size: 0.85rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

#footer-line {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.1);
}

.footer-section {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0 0 10px 10px;
    padding-bottom: 10px;
}

.footer-section p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}