/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
body {
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    background: #111111;
    color: white;
}

/* Clear browser auto margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.nav-container {
    background: #111111;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    
}

.site-name {
    width: 50%;
 
}

.site-name h2 {
    font-family: Inter;
    font-size: 2.25rem;
    font-weight: 800;
    color: #E6533C;
}
.nav-btn-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.433);
    border-radius: 10px;
} 
.nav-btn-container button {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color:#111111;
}
.nav-btn-container button:hover {
    background-color: #E6533C;
    color: white;
}
.nav-container .ham-menubar{
    width: 50%;
    display: none;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin-right: 20px;
}

.colorful{
    background-color: #E6533C;
}

/* Banner style css */
.banner-container{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.banner-text-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-img-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner-img-container{
    position: relative;
}
.banner-text h1{
    font-size: 5rem;
    font-weight: 800;
}
.banner-text #shape-style{
    font-weight: 400;
    font-family: 'Miama', sans-serif;
    font-size: 10rem;
                                                
}

.banner-text p{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
}

.banner-btn button{
    width: fit-content;
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid white;
    color: white;
    background-color: #242424;
}
.colorful{
    background-color: #E6533C !important;
}

.workout{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    position: absolute;
    top: 22%;
    left: 58%;
    padding: 24px 16px;
}

.tutorial{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    position: absolute;
    top: 80%;
    left: 10%;
    padding: 24px 16px;
    display: flex;
    gap: 10px;
}
.tutorial-text, .tutorial-text p, h2{
    background: none;
}

.tutorial .circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E6533C;
}
.circle .play-btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #E6533C;
}

/* Habit section styles */
.habit-secion-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.habit-secion-container .habit-text-container{
    width: 65%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.habit-secion-container .habit-text-container h2{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}
.habit-secion-container .habit-text-container p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.habits-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.habits-card-container .card .card-img img{
    width: 80%;
    border: 2px solid gray;
    border-radius: 50%;
    margin-left: 10%;
}
.habits-card-container .card .card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habits-card-container .card .card-text h3{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.habits-card-container .card .card-text p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;

}

/* Run section styles */
.run-section-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
}
.run-section-container .run-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 34px;
    background-color: rgb(24, 24, 24);
}

.run-section-container .run-text h2{
    font-size: 3rem;
    font-weight: 900;
    background-color: rgb(24, 24, 24);
}
.run-section-container .run-text p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgb(24, 24, 24);
}
.run-section-container .run-text button{
    width: 40%;
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid white;
    background-color: #E6533C;

}

.run-section-container .run-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
    
}
.run-section-container .run-img img{
    width: 80%;
    border-radius: 10px;
}
/* BMI section styles */

.bmi-section-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid #E6533C;
    margin: 0 auto;
}
.bmi-section-container .bmi-text{
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bmi-section-container .bmi-text h2{
    font-size: 3rem;
    font-weight: 900;
}
.bmi-section-container .bmi-text p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.bmi-form-container{
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    border: 2px solid #b49691;
}

.bmi-form-container .bmi-chart{
    width: 50%;
    background-color: rgb(24, 24, 24);
    border: 2px solid #b49691;
    margin: 0 auto;
    padding: 20px;
}
.bmi-form-container .bmi-chart table{
    margin: 0 auto;
}
.bmi-form-container .bmi-chart table th,td{
    font-size: 1.25rem;
    font-weight: 600;
    border: 2px solid #b49691;
}
.bmi-form-container .bmi-form{
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(24, 24, 24);
    border: 2px solid #b49691;

}

/* Team section styles */

.team-section-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 20px;
}
.team-section-container .team-text{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.team-section-container .team-text h2{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
.team-section-container .team-text p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.team-members{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}
.team-members .member{
    width: 100%;
    height: 99%;
    position: relative;
}
.team-members .member .member-img{
    width: 100%;
    height: 100%;
    position: relative;    
}
.team-members .member .member-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
 
}
.team-members .member .member-text{
    position: absolute;
    top: 80%;
    left: 10%;
}
.team-members .member .member-text h3{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}
.team-members .member .member-text p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);

}
.contact-section-container{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    border-radius: 10px 10px 0 0;

}
.service-container{
    width: 50%;
    display: flex;
    margin-top: 20px;
   padding-bottom: 20px;
}
.service-container .get-started{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.service-container .get-started h2{
    font-size: 2rem;
    font-weight: 700;
}
.service-container .get-started a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
}

.fitness-text{
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.fitness-text h2{
    font-size: 4.25rem;
    font-weight: 900;
    color: #E6533C;
}
.fitness-text p{
    font-size: 0.85rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

#footer-line{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.1);
}
.footer-section{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius:  0 0 10px 10px;
    padding-bottom: 10px;
}
.footer-section p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}




